.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 358px;
  height: 258px;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 54px;
}

.modal__form_close-button {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__form_fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 0;
}

.modal__form_input-name {
  margin-bottom: 30px;
  width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}

.modal__form_input-description {
  margin-bottom: 48px;
  width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}

.modal__form_save-button {
  width: 358px;
  height: 50.15px;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px 25px 22px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal__heading {
    padding-bottom: 75px;
  }

  .modal__form_input-name {
    width: 238px;
  }

  .modal__form_input-description {
    width: 238px;
  }

  .modal__form_save-button {
    width: 238px;
    border-radius: 2px;
  }

  .modal__form_close-button {
    position: absolute;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 630px) and (min-width: 321px) {
  .modal__form_close-button {
    position: absolute;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }
}
