.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.page__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-top: 67px;
  padding-bottom: 60px;
}

.page__footer-name {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
    width: 100%;
  }

  .page__footer-name {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    margin-left: 19px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 480px) and (min-width: 321px) {
  .page__content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .page__footer {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 800px) and (min-width: 481px) {
  .page__content {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 801px) {
  .page__section {
    margin: 0 20px;
  }
}
