@font-face {
  font-family: "inter", sans-serif;
  src: url(../Fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "inter", sans-serif;
  src: url(../Fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: "inter", sans-serif;
  src: url(../Fonts/Inter-Black.ttf);
}
