.form__fieldset {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 0 0;
}

.form__input {
  width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding: 0;
  height: 27.34px;
  margin-bottom: 30px;
}

.form__save-button {
  width: 358px;
  height: 50.15px;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: default;
}

.form__save-button_disabled {
  cursor: default;
}

.form__save-button:hover {
  opacity: 0.8;
}

.form__save-button_disabled:hover {
  opacity: 1;
}
