.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 358px;
  height: 258px;
}

.modal__container-avatar {
  background-color: #fff;

  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 272px;
}

#avatar-form {
  padding: 36px;
}

/* #delete-card-modal {
  height: 181px;
} */

#delete-confirmation-form {
  padding: 36px;
}

.modal__container-delete {
  background-color: #fff;
  border-radius: 10px;
  height: 181px;
  margin: auto;
  position: relative;
  width: 430px;
}

.modal__heading {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40px;
}

.popup__input_type_error {
  border-bottom: solid 1px #ff0000;
}

.popup__error_visible {
  color: #ff0000;
}

.popup__button_disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__close-button {
  background-image: url(../images/Close-Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  bottom: calc(100% + 75px);
  left: calc(100% + 40px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
}

.modal__close-button:hover {
  opacity: 1;
}

.modal__preview {
  height: 566px;
  width: 433px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.modal__preview-image {
  height: 566px;
  width: 433px;
}

.modal__preview-footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px 25px 22px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal__heading {
    padding-bottom: 75px;
  }

  .form__input-name {
    width: 238px;
  }

  .form__input_title {
    width: 238px;
  }

  .form__input_url {
    width: 238px;
  }

  .form__input-description {
    width: 238px;
  }

  .form__save-button {
    width: 238px;
    border-radius: 2px;
  }

  .container__close-button {
    position: absolute;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }

  .modal__preview {
    width: 240px;
    height: 299px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .modal__preview-image {
    width: 240px;
    height: 299px;
  }

  .modal__preview_close-button {
    position: relative;
    bottom: calc(100% + 67px);
    left: calc(100% - 3.57px);
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 630px) and (min-width: 321px) {
  .container__close-button {
    position: absolute;
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    width: 26px;
    height: 26px;
  }
}
